---
import { MdOutlineKeyboardBackspace } from "react-icons/md";
---

<nav class="flex items-center justify-between pb-8 tracking-tight">
	<div>
		<a
			href="/thoughts"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			<MdOutlineKeyboardBackspace className="-mt-0.5 inline-block" />
			<span>thoughts</span>
		</a>
	</div>
	<div class="flex items-center gap-4">
		<a
			href="/thoughts"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			thoughts
		</a>
		<a
			href="/about"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			about
		</a>
		<a
			href="/ai"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			baum://ai
		</a>
	</div>
</nav>
